.card-inv {
    width: 250px;
    border-radius: 5px;
    color: white;

}

.text-test {

    &__card-text {
        margin-top: 2rem;

    }
}

.img-test-caja {
    display: flex;

    &__img-test {
        margin-top: 1rem;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}


.nombre-test {
    margin-top: 2rem;
}